<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/datatables" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_sip_domain_RefPenyandangDana" idField="idPenyandangDana" modelAttribute="refPenyandangDana" path="/refpenyandangdanas" versionField="none" z="NjAEmDaLoNtBjz2bBJmEbPgTUcM=">
        <field:simple field="refSkemaPenelitians" id="c_com_sip_domain_RefPenyandangDana_refSkemaPenelitians" messageCode="entity_reference_not_managed" messageCodeAttribute="Ref Skema Penelitian" z="r7n7VUHWN2LjhP79Ut9smCAbxho="/>
        <field:input field="penyandangDana" id="c_com_sip_domain_RefPenyandangDana_penyandangDana" required="true" z="Hj54nsQy6b1pNpv95TgfY648t5w="/>
        <field:input field="namaKelPenyandangDana" id="c_com_sip_domain_RefPenyandangDana_namaKelPenyandangDana" required="true" z="mSAscrq3IJU7X6FCEesg4xsPDGg="/>
    </form:update>
</div>
