<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/datatables" xmlns:table="urn:jsptagdir:/WEB-INF/tags/datatables" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_sip_domain_RefLuaran" items="${refluarans}" z="lidM3ai1ZAMvr/S73k0sEXY3BOU=">
        <table:table data="${refluarans}" id="l_com_sip_domain_RefLuaran" path="/refluarans" typeIdFieldName="idLuaran" z="I57KtJniiOEu2GJgzNxKsI5a9Sk=">
            <table:column id="c_com_sip_domain_RefLuaran_luaran" property="luaran" z="Le4jUMD3aGUEjz30tGE+xWqX00c="/>
            <table:column id="c_com_sip_domain_RefLuaran_deskripsi" property="deskripsi" z="SqODAupNHek7t84B4exIivwe1K8="/>
        </table:table>
    </page:list>
</div>
