<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/datatables" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_sip_domain_RefMetodologi" object="${refmetodologi}" path="/refmetodologis" z="NQZxlSrCWQX9sURWk8Qk2n/GDIA=">
        <field:display field="penelitians" id="s_com_sip_domain_RefMetodologi_penelitians" object="${refmetodologi}" z="GtDgT7quKj3XQYzn0GjZ6uC2xn0="/>
        <field:display field="metodologi" id="s_com_sip_domain_RefMetodologi_metodologi" object="${refmetodologi}" z="cl1YRjqeKH6F+1hNZhwct8rwbK4="/>
        <field:display field="keterangan" id="s_com_sip_domain_RefMetodologi_keterangan" object="${refmetodologi}" z="wTD4FRfa4cHUgquQBp5ioG/x4Ow="/>
    </page:show>
</div>
