<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/datatables" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_sip_domain_LuaranPenelitian" object="${luaranpenelitian}" path="/luaranpenelitians" z="o4/90H21HNdt7gHz6UQ1rI080TQ=">
        <field:display field="idLuaran" id="s_com_sip_domain_LuaranPenelitian_idLuaran" object="${luaranpenelitian}" z="lnuPHKufFGx82Nuwla4o8183fgI="/>
        <field:display field="idPenelitian" id="s_com_sip_domain_LuaranPenelitian_idPenelitian" object="${luaranpenelitian}" z="MIP2bG+u7tf8KUS4MNBfVzcYyu0="/>
        <field:display field="deskripsi" id="s_com_sip_domain_LuaranPenelitian_deskripsi" object="${luaranpenelitian}" z="551EkRJsXPMCYf5kcqKt2Aui6IY="/>
    </page:show>
</div>
