<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/datatables" xmlns:table="urn:jsptagdir:/WEB-INF/tags/datatables" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_sip_domain_Penelitian" items="${penelitians}" z="UTZcPR/N+83d/BO6sXCLlUMxdJM=">
        <table:table data="${penelitians}" id="l_com_sip_domain_Penelitian" path="/penelitians" typeIdFieldName="idPenelitian" z="zhVQpf2C5qykhcY5fG+c4WNey+0=">
            <table:column id="c_com_sip_domain_Penelitian_judul" property="judul" />
            <table:column id="c_com_sip_domain_Penelitian_tahunAnggaran" property="tahunAnggaran" />
        </table:table>
    </page:list>
</div>
