<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/datatables" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_sip_domain_RefKelompokBidangKajian" modelAttribute="refKelompokBidangKajian" path="/refkelompokbidangkajians" render="${empty dependencies}" z="XwKYWAXmWJnepMFQYRT8Av41ySY=">
        <field:simple field="penelitians" id="c_com_sip_domain_RefKelompokBidangKajian_penelitians" messageCode="entity_reference_not_managed" messageCodeAttribute="Penelitian" z="JRs3Fy5zdRN6qVifp87Ge5rM6uo="/>
        <field:input field="bidangKajian" id="c_com_sip_domain_RefKelompokBidangKajian_bidangKajian" required="true" z="lHN8gJd2/slzE5LvvrzDQS/YgJ8="/>
        <field:input field="keterangan" id="c_com_sip_domain_RefKelompokBidangKajian_keterangan" z="rDrriAGW6pN2wjQFV+nyakkEdHI="/>
        <field:input field="kode" id="c_com_sip_domain_RefKelompokBidangKajian_kode" z="AeCo66yFrFuB1t8/NA2+0begnEU="/>
        <field:input field="level" id="c_com_sip_domain_RefKelompokBidangKajian_level" validationMessageCode="field_invalid_integer" z="NZ6QwdimcUcv+6mlpTms43YVtHY="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_sip_domain_RefKelompokBidangKajian" render="${not empty dependencies}" z="iboJLkz6KK7kcyOFlUtl4srUX0k="/>
</div>
