<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/datatables" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_sip_domain_PeranPeneliti" object="${peranpeneliti}" path="/peranpenelitis" z="Vx4I3nWz+tFUTQ0SJ3sYhxtKrhA=">
        <field:display field="idPenelitian" id="s_com_sip_domain_PeranPeneliti_idPenelitian" object="${peranpeneliti}" z="tThFObNBNNq69xWMxqCMTYtbRZc="/>
        <field:display field="idPeneliti" id="s_com_sip_domain_PeranPeneliti_idPeneliti" object="${peranpeneliti}" z="IAGh43CIxzVjWoPnOVtma+dr4tI="/>
        <field:display field="posisi" id="s_com_sip_domain_PeranPeneliti_posisi" object="${peranpeneliti}" z="zqSxrA/DDRJxdWr/a1eeNCWJT28="/>
    </page:show>
</div>
