<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/datatables" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_sip_domain_PeranPeneliti" modelAttribute="peranPeneliti" path="/peranpenelitis" versionField="none" z="wJPkegCyuQVXSzbnsbiOf+wIYOY=">
        <field:checkbox field="posisi" id="c_com_sip_domain_PeranPeneliti_posisi" z="mQveumFYCRnu1vpeQ+9gIHx9naw="/>
    </form:update>
</div>
